.comment {
  /* margin-bottom: 1rem; */
  padding: 0.5rem 1rem;
}

.comment_reply {
  margin-left: 2.5rem;
}
.main {
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  /* margin-bottom: 1rem;
  padding: 0.5rem 1rem; */
}
.innerWrap {
  position: relative;
}
.innerWrap ::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 50%;
}
